In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host='localhost',
                            user='root',
                            password='cLOUDBERRY@1990',
                            database='test_data')

In [3]:
mycursor = mydb.cursor(buffered=True)

In [4]:
# SELECT statement
mycursor.execute('SELECT * FROM customers')

result = mycursor.fetchall() 

for x in result:
    print(x)

(u'Betty', 1)
(u'Betty', 1)
(u'Jughead', 20)
(u'Veronica', 18)
(u'Jughead', 20)
(u'Veronica', 18)

In [5]:
mycursor.execute("SELECT age FROM customers WHERE name = 'Betty'")
result_1=mycursor.fetchall()

for x in result_1:
    print(x)

(1,)
(1,)

In [6]:
query = "SELECT age, name FROM customers WHERE name in('Jughead', 'Archie') ORDER BY 2"
mycursor.execute(query)
result_3 = mycursor.fetchall()

for x in result_3:
    print(x)

(20, u'Jughead')
(20, u'Jughead')

In [7]:
# DELETE STATEMENT
# comit after making changes to the db. Otherwise changes won't be reflected
query = "DELETE FROM test_data.customers WHERE name='Archie'"
mycursor.execute(query)
mydb.commit()

print(mycursor.rowcount, 'record(s) deleted')

(0L, 'record(s) deleted')

In [8]:
# DROP TABLE
query = "DROP TABLE customers"

In [9]:
# DROP TABLE ONLY IF IT EXISTS
query = "DROP TABLE IF EXISTS customers"

In [10]:
# UPDATE query
query = "UPDATE customers SET age=1 WHERE name='Betty'"
mycursor.execute(query)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

(0L, 'record(s) affected')

In [16]:
# JOIN python
mycursor.execute('CREATE TABLE relation(age TINYINT(255), relationship VARCHAR(255))')
sql="INSERT INTO test_data.relation(age, relationship) VALUES (%s, %s)"
val =[(18, 'self'), (19, 'Friend'), (20, 'Best Friend')]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "records are inserted")

(3L, 'records are inserted')

In [17]:
# join both tables 

query = "SELECT c.name, r.relationship FROM customers c JOIN relation r ON c.age=r.age"
mycursor.execute(query)

result = mycursor.fetchall()
for x in result:
    print(x)

(u'Jughead', u'Best Friend')
(u'Veronica', u'self')
(u'Jughead', u'Best Friend')
(u'Veronica', u'self')